// #Folower {
// width: 20px;
// height: 20px;
// position: absolute;
// background-color: rgb(136, 96, 42);

// border-radius: 50%;
// }
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
// #Button {
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKRpCvF-FeRus74i_cm7Iyt0MDEz3uJ__L_Q&s');
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: rgb(0, 0, 0);
//     font-family: serif;
//     font-weight: 400;
//     font-size: 20px;
//     text-transform: uppercase;
//     cursor: pointer;
// margin-top: 100px;
//     .Effect {
//         width: 20px;
//         height: 20px;
//         border-radius: 50%;
//         color: aquamarine;
// position: absolute;
//         transition: .4s;
//     }
// }

// #Coin  {
//     position: absolute;
//     top:20px;
//     left:50%;
// }


// #Filter {
//     width: 100px;
//     height: 100px;
//     position: absolute;
//     backdrop-filter: blur(2px);

// }